body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffffff; /* Blanco como color de fondo */
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg, #006847 50%, #ffffff 50%);
}

h1 {
    color: #006847; /* Verde Banfield */
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

img {
    max-width: 300px;
    max-height: 300px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 5px solid #006847; /* Borde verde */
}

img.hidden {
    display: none;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    color: #ffffff;
    background-color: #006847; /* Verde Banfield */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #004b32; /* Un verde más oscuro para hover */
}
